*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
        font-family: "Junge", cursive;
        font-weight: 600;
        font-style: normal;
      }
      

.header, .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

/* NavBar */

.nav {
    display: flex;
    justify-content: center;  
    align-items: center;    
     text-align: center;
     background: linear-gradient(to top, #4D869C, #ffc0cb)
    }

.nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #f3f4f6;
}

.anchor{
    margin-left: 3.7em !important;
}

:is(.link, footer) {
    text-align: center;
    color: var(--secondary); 
}

img[alt='mainLogo'] {
    margin: 1px 11px 1px;
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: solid 3px var(--primary);
    border-radius: 20px;
}

:is(a, .link) {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: larger;
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
    }
}

.hamburger {
    display: none;
}
/* Ends Here  */

/* Home Page */

.main-home {
    text-align: center;
    margin:12rem;
    margin-left: 8rem;
}

.cust-btn{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 0.8rem;
margin: 30px;
width: 140px;
height: 50px;
border: 1px solid #000;
border-radius: 15px;
    color: #fff;
    background-color: #4D869C;
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
        background-color: #ffc0cb;
    }
}


/* Background Video */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.cust-a {
 text-decoration: none;
text-align: center;
color: #000;
}

.main-home h1 {
    font-size: 4rem;
    color: #000;
}

.main-home p {
    font-size: 20px;
    color: #000;
}
/* HomeStyling Ends here */

/* AboutStyling*/

#aboutContainer{
	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
    text-align: center;
}

img[alt='aboutLogo'] {
    margin: 1px 11px 1px;
    width: 8.5rem;
    height: 8.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.main-about {
    margin:12rem;
    margin-left: 8rem;
}

.about-p {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
font-weight:900;
    font-size: large;
    padding: 10px;
    margin: 30px;
}

.about-h2{
 font-family: "JetBrains Mono", monospace;
 font-style: normal;
font-size: 2rem;
    font-weight: 800;
    padding: 35px;

}

/* AboutStyling Ends here */

/* FeaturedStyling */

#featuredContainer{
margin:-12rem;
    width: 104rem;
    height: 40rem;
    background-color: #fff;
}
.main-featured {

    display: flex;
    justify-content: space-around;
    align-items: center;
margin-left: 12rem;    
margin-bottom: 5rem;
    
}

.featured-h2{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
       font-weight: 800;
       padding: 50px;   
    text-align: center;
    margin-left: 11rem;
}

.featured-img {
    width: 13rem;
    height: 13rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100px; 
    border: #000 2px solid;
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
    }
}


.featured-img, .featured-p {
    margin: 20px;
    text-align: center;
    font-weight: 600;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: larger;
}

/* FeaturedStyling Ends Here*/


/* Why Us Styling */
#whyUsContainer {

	background: linear-gradient(to top, #4D869C, #ffc0cb);
    height: max-content;
    margin-bottom: -2rem;
}

.icon {
    background-color: transparent;
}


.usContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem;
    margin-left: 14rem;
  }

  .usSection {
    margin: 4rem;
    width: 50rem;
    border-radius: 10px;
    border: #000 2px solid;
    padding: 20px;
    display:flex; 
	flex-direction : column; 
	align-items : center; 
	justify-content : center; 
    font-weight: 600;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
	text-align : center; 
	gap :15px
}
.usSection:nth-child(1) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}
.usSection:nth-child(2) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}
.usSection:nth-child(3) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}


.icon{
	width :100px ; height:100px
}

/* Why Us Styling Ends Here*/

.footer{
width: 100%;
    height:90px;
    text-align: center;
    background-color: #4D869C;
}

.f-text{

    margin-left: 12rem;

}

/*Media Queries*/
/* Add this at the end of your CSS file */

/* For tablets */
@media (width < 999px) {
        .nav a {
            display: none;
        }
        .hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-align: center;
        }
        .nav.active a {
display: inline-block;
padding: 50px;
margin: 2rem;
            text-align: center;

        }

    .main-home, .main-about.main {
        margin: 4rem 2rem;
        height: auto;
    }

    #bgVideo {
        position:absolute;
margin-bottom: -6rem;
        width: 100%;
        height: auto;
        object-fit:cover;
    }
    
    img[alt='mainLogo'] {
        display: none;
    }

    .main-featured, .usContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    #featuredContainer, #whyUsContainer{ 

        width: 60rem;
        height: auto;
    }

    .usSection {
        height: auto;
        width: 50%;
    }


}

/*Home Page Finishes Here*/
/* .......................................................................................................................*/

/* #aboutPage{
        background-image: url('https://joshua-langeveldt.github.io/images/images/Choco-A-Lot/bg-img.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    height: 50rem;
    
} */

 #aboutPage {
    position: relative;
    height: 50rem;
}
 #aboutPage::before {
    content: "";
    background-image: url('https://joshua-langeveldt.github.io/images/images/Choco-A-Lot/bg-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1; /* Ensure the overlay is below the text */
}

 #aboutPage .about-p, #aboutPage h2 {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    font-weight: bolder;
}
.about-main{

    text-align: center;

}


.about-p{
font-family:  "JetBrains Mono", monospace;
    margin: 9px 300px;
    padding: 25px;
}

.about-header {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
  font-weight: bolder;
    padding: 70px;
    z-index: 2;
}

/*Testimonial Styling*/

.card-deck{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    width: 50%;

    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
        color: var(--alternative);

    }
    
}

.ardcay {
    width: 500px;
    height: 350px;
    border: 3px solid var(--mainBg);
    border-radius: 30px;
    box-shadow: .3vw .3vw .3vw var(--mainBg), .6vw 1vw .2vw var(--secondary);
    margin-left: 23rem;


}

.ardcay-body {
    padding: 20px;
}

.ardcay-title {
    font-size: 1.5em;
    color: var(--secondary);
    font-family: "Jockey One", sans-serif;
	text-align:center;
	margin-top: 0px;


}

.ardcay-text {
    color: var(--secondary);
    font-size: 1rem;
    font-family: "Jockey One", sans-serif;
    width:100%;
	text-align:center;
    padding-left: 0px;
    margin-left: 0%;
  
}

#ardcay-style1{

    margin-left: -18rem;
}

#ardcay-style2{

    margin-left: -18rem;
}

#ardcay-style3{

    margin-left: -18rem;
}

#ardcay-style4{

    margin-left: -18rem;
}

#ardcay-style5{

    margin-left: -18rem;
}

/*Testimonial-Image*/

img[alt='Image1'] {

    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 2px solid #FFEBB2;

    &:hover {
        transform: scale(1.2);
        height: 100px;
        width:100px;
        margin: 8px;
    }
}